readonlyrest:
    
    response_if_req_forbidden: Request forbiden contact ES cluster administrator
    
    access_control_rules:
      
    - name: Full access from users in group ES_ADMIN
      groups: ["ES ADMINS"]
      indices: ["*"]
    
    - name: Read only users
      groups: ["READ ONLY"]
      actions: ["indices:data/read/*" ,"indices:admin/mappings/fields/get","indices:admin/mappings/get"]
    
    - name: "Block 1 - Blocking everything from a network"
      type: forbid
      hosts: ["10.0.0.0/24"]
    
    - name: "::LOGSTASH::"
      auth_key: ${LOGSTASH_USER}:${LOGSTASH_PASS}
      actions: ["cluster:monitor/main","indices:admin/types/exists","indices:data/read/*","indices:data/write/*","indices:admin/template/*","indices:admin/create"]
      indices: ["*"]
    
    - name: "::GRAFANA::"
      auth_key: ${GRAFANA_USER}:${GRAFANA_PASS}
      actions: ["cluster:monitor/main","indices:admin/types/exists","indices:data/read/*","indices:admin/template/*"]
      indices: ["*"]
    
    users:
    - username: ${CLUSTER_ADMIN}
      auth_key: ${CLUSTER_ADMIN}:${ADMIN_PASS}
      groups: ["ES ADMINS"]
    
    - username: ${RO_USER}
      auth_key: ${RO_USER}:${RO_PASS}
      groups: ["READ ONLY"]
